@import "bootstrap/variables";
@import "bootstrap/flex";
@import "bootstrap/mixins";
@import "bootstrap/fonts";
@import "bootstrap/reboot";
@import "bicycles/mixins";

.profile {
    width: fit-content;
    b {
        min-width: 150px;
    }
    > div {
        display: flex;
        margin: 15px 0;
        height: 30px;
        align-items: center;
    }
    button {
        width: 100%;
        margin-top: 1rem;
        background: $background_button_save;
        span {
            color: $button_text;
        }
        &:hover {
            background: $active_background;
        }
    }
    select,
    input {
        width: 170px;
    }
}
