.input__block {
    position: relative;
    // height: 60px;
    label {
        pointer-events: none;
        width: 100%;
        background: #fff;
        transition: all 0.1s;
        position: absolute;
        left: 0px;
    }
}

.error {
    color: red;

    text-transform: lowercase;
}
