@import "bootstrap/variables";
@import "bicycles/variables";

/**
 * Created by kyckyc on 6/1/19.
 */

@mixin flat-group {
    .btn {
        border-right: 1px solid #323b3e;
        border-radius: 0;
        margin: 0;
    }
    .btn:nth-child(1) {
        text-align: center;
        margin: 0;
        border-radius: 2px 0 0 2px;
    }
    .btn:nth-last-child(1) {
        text-align: center;
        margin: 0;
        border-radius: 0 2px 2px 0;
        border-right: 0;
    }
}
