@import "bootstrap/variables";
@import "bootstrap/flex";
@import "bootstrap/mixins";
@import "bootstrap/fonts";
@import "bootstrap/reboot";
@import "bicycles/mixins";

.actions {
    display: flex;
    padding: 10px;
    > div {
        min-width: 31px;
        height: 31px;
        padding: 5px;
        svg {
            @include box-shadow;
            color: white;
            cursor: pointer;
        }
    }
    .success {
        background: $btn_success;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .danger {
        background: $btn_danger;
        border-left: 1px solid #000;
    }
    > div:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.create_row {
    td div {
        cursor: pointer;
    }
    input {
        width: 100%;
    }
}
