@import "bootstrap/variables";
@import "bootstrap/flex";
@import "bootstrap/mixins";
@import "bootstrap/fonts";
@import "bootstrap/reboot";
@import "bicycles/mixins";

.filter__container {
    border: 1px solid $border_color;
    height: 120px;
    .input {
        height: 34px;
        position: relative;
        background: $input_background;
        border: 1px solid $border_color;
        font-size: 13px;
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            width: 30px;
            height: 100%;
            border-left: 1px solid $border_color;
            right: 0;
            top: 0;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            background: $cancel_background;
        }
    }
    > p {
        text-align: center;
        width: 100%;
    }
    :global(.form-group) {
        border: none;
    }
}
