// Text stuff.
$floating-menu-height: 60px;

//========================= Sizes =========================
$header_default_size: 120px;

$border_color: #138cd7;
$button_cancel: rgba(255, 0, 0, 0.897);
$button_register: #138cd7;
$secondary__text: rgb(139, 137, 137);
$button_text: #fff;
$text_color: #138cd7;
$cancel_background: lightblue;
$input_background: darkgray;
$border_edit_color: darkturquoise;
