// Text stuff.
$floating-menu-height: 60px;

//========================= Sizes =========================
$header_default_size: 120px;

$border_color: #138cd7;
$button_cancel: #ea4335;
$background_button_save: #138cd7;
$active_background: #204054;
$active_text: #138cd7;
$secondary__text: rgb(139, 137, 137);
$button_text: #fff;
$text_color: #138cd7;
$cancel_background: lightblue;
$input_background: #e1e4e7;
$border_edit_color: darkturquoise;
