.select__button {
    margin: 10px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    select {
        display: none;
    }
}
.showSelect {
    select {
        display: block;
    }
    div {
        display: none;
    }
}
