@import "bootstrap/variables";
@import "bootstrap/flex";
@import "bootstrap/mixins";
@import "bootstrap/fonts";
@import "bootstrap/reboot";
@import "bicycles/mixins";

.select__button {
    max-height: 30px;
    border: 1px solid $border_color;
    border-radius: 5px;
    select {
        display: none;
    }
}
.showSelect {
    select {
        display: block;
    }
    div {
        display: none;
    }
}
