@import "bootstrap/variables";
@import "bootstrap/flex";
@import "bootstrap/mixins";
@import "bootstrap/fonts";
@import "bootstrap/reboot";
@import "bicycles/mixins";

@keyframes button {
    0% {
        width: 0;
        padding: 0;
    }

    100% {
        width: 110px;
        padding: 6px 8px;
    }
}

.trip__result {
    max-width: 575px;
    border: 1px solid $border_edit_color;
    height: 300px;
    transition: all 0.3s ease-in;
    width: 100%;
    margin: 15px auto;
    padding: 15px;
    cursor: pointer;
    .buttons {
        display: flex;
    }
    button {
        width: min-content;
        white-space: nowrap;
        background: lightblue;
        height: 40px;
        &:hover {
            background: blue;
            span {
                color: #fff;
            }
        }
    }
    .accept {
        transition: all 0.3s ease-in;
        width: 0px;
        display: none;
        margin-left: 1rem;
        min-width: initial;
    }
    .content {
        display: flex;
        overflow: hidden;
        height: calc(100% - 65px);
        text-overflow: ellipsis;

        .description {
            margin-left: 30px;
        }
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &:hover {
        @include box-shadow;
        border: 1px solid $border_color;
        .accept {
            width: min-content;
            display: block;
            animation: button 0.3s ease-in-out;
            overflow: hidden;
        }
    }
}
